body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    font-family: Arial, "Times New Roman";
}

.task {
    width: 300px;
    height: 150px;
    border: 1px solid silver;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: cadetblue;
}

.textTask {
    margin: 15px 0;
    font-size: 1.1em;
}

.btn {
    margin: 5px;
    padding: 5px;
    width: 120px;
    height: 40px;
}

.btnEdit:hover {
    background-color: yellow;
    color: black;
}

.btnRemove:hover {
    background-color: red;
    color: black;
}

.btnSave:hover {
    background-color: green;
    color: black;
}

.editTextTask {
    width: 200px;
    height: 50px;
    padding: 5px;
    font-size: 1.1em;
    font-family: monospace;
}